@charset "utf-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-image: linear-gradient(to bottom, #6c59c0, #b93590, #e33f5f);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px black;
    width: 500px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #e33f5f;
    text-align: center;
    text-shadow: 2px 2px 1px black;
}

h2 {
    color: blue;
}

p {
    text-align: justify;
}



